.homepage--container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.homepage--brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.homepage--brand-container img {
  max-width: 300px;
}
.homepage--brand-container h1 {
  margin: 0;
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.712);
}
