.dash-pet {
  padding: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.4);
}

.dash-pet--link {
  text-decoration: none;
}

.dash-pet--header {
  display: flex;
  gap: 1rem;
}

.dash-pet .dash-pet--petPhoto {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 2rem;
}

.dash-pet--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-txt-color);
}

.dash-pet--details h3 {
  margin: 0;
}

.dash-pet--details p {
  text-transform: capitalize;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85rem;
}

.dash-pet--infos {
  margin: 0 1rem;
}

.dash-pet--infos a {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dash-pet--infos a img {
  height: 45px;
}

.dash-pet--infos a p {
  font-size: 0.8rem;
  color: var(--main-txt-color);
}
