.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--main-txt-color);
  color: var(--main-bg-color);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.75rem;
}

.footer span {
  font-size: 1rem;
  margin-right: 3px;
}

.footer img {
  width: 100px;
}
