.navbar--container {
  width: 100%;
  height: 100px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.navbar--brand a {
  display: none;
}
.navbar--brand.visible a {
  display: block;
}
.navbar--brand img {
  max-height: 90px;
}

.navbar--navlinks {
  margin: auto 1.5rem auto auto;
  display: flex;
  gap: 0.8rem;
}
.navbar--navlinks a,
.navbar--paw-user {
  color: var(--main-txt-color);
  text-decoration: none;
  font-weight: 500;
}
.navbar--navlinks a:hover {
  text-decoration: underline;
  color: var(--light-color);
}

.navbar--navlinks a.active {
  text-decoration: underline;
  font-weight: 600;
}

.navbar--paw-user {
  border-radius: 2rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.navbar--paw-user:hover {
  color: var(--light-color);
  -webkit-box-shadow: 0px 0px 2px 2px var(--light-color);
  box-shadow: 0px 0px 2px 2px var(--light-color);
}
.navbar--navlinks a.active .navbar--paw-user {
  -webkit-box-shadow: 0px 0px 2px 2px var(---main-txt-color);
  box-shadow: 0px 0px 2px 2px var(--main-txt-color);
}
