.agenda-page--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.agenda-page--container .app {
  width: 100%;
  display: flex;
  flex-direction: column;
}
